html,
body {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    color: #897B66;
    display: block;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    margin: 0px 120px 0px 120px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

.dropbtn {
    width: 50px;
    padding: 5px 5px;
    border: 1px solid;
    border-radius: 20px;
    border-color: #D9D9D9;
    color: #897B66;
    font-size: 14px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    width: 50px;
    padding: 5px 5px;
    border: 1px solid;
    border-radius: 20px;
    border-color: #D9D9D9;
    color: #897B66;
    font-size: 14px;
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    flex: 1;
    padding: 20px;
}

.slider {
    height: 800px;
}

.row {
    display: grid;
    grid-template-columns: 50% 50%;
}

.Content {
    margin: 0px 120px 0px 120px;
}

.detail_1,
.detail_3,
.detail_4,
.detail_5 {
    text-align: center;
    padding-bottom: 150px;
}

.detail_2 {
    padding-bottom: 150px;
}

.text_header {
    font-weight: 600;
}

.company {
    color: #448ECC;
    font-weight: 600;

}

.year {
    color: #448ECC;
}

.row_left,
.row_right {
    margin-right: 150px;
}


.experience,
.education {
    display: inline-block;
    margin-bottom: 10px;
}

li {
    margin-bottom: 10px;
}

.services {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 80px;
}

.services_details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area_strack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.strack {
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.strack_details {
    width: fit-content;
    padding: 5px 25px;
    border: 1px solid;
    border-radius: 50px;
    border-color: #D9D9D9;
}

input[type="text"] {
    height: 38px;
    width: 400px;
}

input[type="submit"] {
    height: 38px;
    width: 120px;
    color: #FFF;
    background-color: #448ECC;
    border: 1px solid;
    border-radius: 5px;

}

.input_contact {
    padding: 50px;
}