html,
body {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    color: #897B66;
    display: block;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}



.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

main {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
}